@model rswebfaks.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1 style="position:relative; left:49%;">Details</h1>

<div>
    <hr />
    <div style="position:relative; left:42%;">


        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Credits)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Credits)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Semester)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Semester)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Programme)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Programme)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EducationLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EducationLevel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstTeacherId)
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Teacher" asp-action="Details" asp-route-id="@Model.FirstTeacherId">@Html.DisplayFor(ModelItem => Model.FirstTeacherId)</a>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SecondTeacherId)
            </dt>
            <dd class="col-sm-10">
                <a asp-controller="Teacher" asp-action="Details" asp-route-id="@Model.SecondTeacherId">@Html.DisplayFor(ModelItem=>Model.SecondTeacherId)</a>
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>