@model IEnumerable<rswebfaks.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1 style="position:relative; left:46.5%;">Courses:</h1>
<form asp-controller="Course" asp-action="Index" method="get">
    <p style="position:relative; left:38%;">
        <b>Search by:</b>
        <input type="text" name="teacherString" placeholder="Teacher, TeacherID" />
        <input type="text" name="SearchString" placeholder="Title, Semester, Programme">
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TItleSortParm"]">
                    @Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreditsSortParm"]">
                    @Html.DisplayNameFor(model => model.Credits)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SemesterSortParm"]">
                    @Html.DisplayNameFor(model => model.Semester)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProgrammeSortParm"]">
                    @Html.DisplayNameFor(model => model.Programme)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LevelSortParm"]">
                    @Html.DisplayNameFor(model => model.EducationLevel)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ftidSortParm"]">
                    @Html.DisplayName("First Teacher")</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["stidSortParm"]">
                    @Html.DisplayName("Second Teacher")</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    <a asp-controller="Teacher" asp-action="Details" asp-route-id="@item.FirstTeacherId">
                       @Html.DisplayFor(modelItem =>item.Teacher1.FullName)
                    </a>
                </td>
                <td>
                    <a asp-controller="Teacher" asp-action="Details" asp-route-id="@item.SecondTeacherId">

                        @Html.DisplayFor(modelItem => item.Teacher2.FullName)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<p style="margin-left:0.5%;">
    <a asp-action="Create">Add new</a>
</p>