@model IEnumerable<rswebfaks.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1 style="position:relative; left:46.5%;">Courses:</h1>
<form asp-controller="Course" asp-action="Index" method="get">
    <p style="position:relative; left:43.5%;">
        <b>Search by:</b>
        <input type="text" name="SearchString" placeholder="Title, Semester, Programme">
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
               
                    @Html.DisplayNameFor(model => model.Title)
                
            </th>
            <th>
               
                    @Html.DisplayNameFor(model => model.Credits)
              
            </th>
            <th>
               
                    @Html.DisplayNameFor(model => model.Semester)
            
            </th>
            <th>
               
                    @Html.DisplayNameFor(model => model.Programme)
              
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="~/Enrollment/TeacherEnrollmentView?CourseString=@Html.DisplayFor(modelItem=> item.Title)">
                    @Html.DisplayFor(modelItem => item.Title)
                        </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
            </tr>
        }

    </tbody>
</table>
