@model IEnumerable<rswebfaks.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1 style="position:relative; left:46.5%;">Students:</h1>

<form asp-controller="Student" asp-action="Index" method="get">
    <p style="position:relative; left:38%;">
      <b>Search by:</b>
        <input type="text" name="courseString" placeholder="Course">
        <input type="text" name="SearchString" placeholder="Student ID, Name">
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StudentIdSortParm"]">
                @Html.DisplayNameFor(model => model.StudentId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FNameSortParm"]">
                    @Html.DisplayNameFor(model => model.FirstName) </a>
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["LNameSortParm"]">
                    @Html.DisplayNameFor(model => model.LastName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    @Html.DisplayNameFor(model => model.EnrollmentDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreditsSortParm"]">
                    @Html.DisplayNameFor(model => model.AcquiredCredits)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SemSortParm"]">
                    @Html.DisplayNameFor(model => model.CurrentSemester)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LevelSortParm"]">
                    @Html.DisplayNameFor(model => model.EducationLevel)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcquiredCredits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentSemester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="marign-left:0.5%;">
    <a asp-action="Create">Add new</a>
</p>