@model rswebfaks.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<<h1 style="position:relative; left:49%;">Details</h1>

<div>
    <hr />
    <div style="position:relative; left:42%;">

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Degree)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Degree)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AcademicRank)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AcademicRank)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OfficeNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OfficeNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HireDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HireDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("Courses teaching:")
            </dt>
            <dd class="col-sm-10">
            @foreach (var course in Model.Courses1)
            {
                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                    @Html.DisplayFor(modelItem => course.Title)
                </a>
                <br />
            }
            @foreach (var course in Model.Courses2)
            {
                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                    @Html.DisplayFor(modelItem => course.Title)
                </a>
                <br />
            }
                </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>