@model IEnumerable<rswebfaks.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1 style="position:relative; left:46.5%;">Teachers:</h1>

<form asp-controller="Teacher" asp-action="Index" method="get">
    <p style="position:relative; left:43.5%;">
       <b>Search by:</b>
        <input type="text" name="SearchString" placeholder="Name, Rank, Degree">
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FNameSortParm"]">
                    @Html.DisplayNameFor(model => model.FirstName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LNameSortParm"]">
                    @Html.DisplayNameFor(model => model.LastName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeSortParm"]">
                    @Html.DisplayNameFor(model => model.Degree)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RankSortParm"]">
                    @Html.DisplayNameFor(model => model.AcademicRank)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ofnumSortParm"]">
                    @Html.DisplayNameFor(model => model.OfficeNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    @Html.DisplayNameFor(model => model.HireDate)</a>
            </th>
            <th>
                    @Html.DisplayName("Courses")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @foreach (var course in item.Courses1)
                    {
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                            @Html.DisplayFor(modelItem => course.Title)
                        </a>
                        <br />
                    }
                    @foreach (var course in item.Courses2)
                    {
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                            @Html.DisplayFor(modelItem => course.Title)
                        </a>
                        <br />
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p style="position:relative; margin-left:0.5%;">
    <a asp-action="Create">Add new</a>
</p>